<link rel="stylesheet" type="text/css" href="../Views/Static/CSS/deleteDialog.css"/>
    <div id="deleteBox">
        <div id="closeIcon"><img id="closeaa" onclick="closeDeleteDialog()" src="../Views/Static/Images/icons/关闭2.png">&nbsp;</div>
        <h2>您确认要删除该艺术品吗？</h2>
        <input type="text" id="productId" hidden>
        <div id="btns">
            <div id="submitbtn" onclick="toDelete()">确认删除</div>
            <div id="calcelBtn" onclick="closeDeleteDialog()">取消删除</div>
        </div>


    </div>