<link type="text/css"  rel="stylesheet" href="../Views/Static/CSS/myPurchased.css">
<script type="text/javascript" src="../Views/Static/Javascript/myPurchased.js"></script>
<div id="profile_body">
            <table cellspacing="0" id="buylist">
                <thead>
                    <tr>
                        <th colspan="6">我的订单列表</th>
                    </tr>
                    <tr>
                        <th>编号</th>
                        <th>商品</th>
                        <th colspan="4">详细信息</th>
                    </tr>
                </thead>

                <tbody id="purchasedResult">
                </tbody>
            </table>
        </div>

