<link rel="stylesheet" href="../Views/Static/CSS/mySold.css">
<script type="text/javascript" src="../Views/Static/Javascript/mySold.js"></script>
<div id="profile_body">
            <table cellspacing="0" id="selllist">
                <thead>
                    <tr>
                        <th colspan="10">我卖出的商品列表</th>
                    </tr>
                    <tr>
                        <th>编号</th>
                        <th>商品</th>
                        <th colspan="4">订单信息</th>
                        <th colspan="4">买家信息</th>
                    </tr>
                </thead>
                <tbody id="soldResult">
                </tbody>
            </table>
        </div>