*{
    user-select: none;/*页面不允许做粘贴复制*/
}

body{/*背景参数*/
    background: url(../Images/Background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Register_form{/*登录界面框*/
    margin-top: 50px; 
    margin-bottom: 80px;
    background-color: rgba(238, 237, 237, 0.698);
    width: 500px;
    height: 720px;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
}

#warn_msg{/*后端提示信息*/
    display:block;
    color:red;
    font-size:xx-small;
}

#IDinput{/*用户名输入框*/
    outline: none;
    border: none;
    background-color: rgba(238, 237, 237, 0);
    width: 90%;
    height: 35px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(138, 138, 138);
    font-size: 20px;
}

#Passwordinput1{/*密码输入框*/
    outline: none;
    border: none;
    background-color: rgba(238, 237, 237, 0);
    width: 90%;
    height: 35px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(138, 138, 138);
    font-size: 20px;
}

#Passwordinput2{/*确认密码输入框*/
    outline: none;
    border: none;
    background-color: rgba(238, 237, 237, 0);
    width: 90%;
    height: 35px;
    margin-top:10px;
    border-bottom: 2px solid rgb(138, 138, 138);
    font-size: 20px;
}
#Emailinput{/*邮箱输入框*/
    outline: none;
    border: none;
    background-color: rgba(238, 237, 237, 0);
    width: 90%;
    height: 35px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(138, 138, 138);
    font-size: 20px;
}
#PhoneNumber{/*电话输入框*/
    outline: none;
    border: none;
    background-color: rgba(238, 237, 237, 0);
    width: 90%;
    height: 35px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(138, 138, 138);
    font-size: 20px;
}
#Address{/*地址输入框 */
    outline: none;
    border: none;
    background-color: rgba(238, 237, 237, 0);
    width: 90%;
    height: 35px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(138, 138, 138);
    font-size: 20px;
}

#submit_btn{/*提交按钮*/
    outline: none;
    border: none;
    background-color: #59c2c5;
    width: 30%;
    height: 43px;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    color: white;
}
#submit_btn:hover{/*鼠标点击提交按钮后效果*/
    width: 30%;
    height: 43px;
    background-color: #59a3c5;
}
.To_Jump{/*跳转至登陆页面链接*/
    display:block;
    text-decoration: none;
    font-size: small;
    margin-top: 15px;
    color: #59a3c5;
}
.To_Jump:hover{/*跳转至登陆页面链接悬浮时*/
    display:block;
    text-decoration: none;
    font-size: small;
    margin-top: 15px;
    color: #3c6e85;
}
.warninfo{/*错误输入提示信息样式*/
    color:rgb(46, 46, 46);
    font-size:x-small;
}

/*弱密码检测*/
#tips{
    float:left;
    margin-left:26px;
}
#tips span{/*弱密码检测框*/
    float:left;
    width:110px;
    height:20px;
    color:#999999;
    overflow:hidden;
    background:#ccc;
    margin-right:2px;
    line-height:20px;
    text-align:center;
}
#tips .t1{/*第1个小框*/
    background:#ff0000;
}
#tips .t2{/*第2个小框*/
    background:#ff9900;
}
#tips .t3{/*第3个小框*/
    background:#FFFF66;
} 
#tips .t4{/*第4个小框*/
    background:#009900;
}

