#toBuyBox{
    transform: translateY(-1000px);
    opacity:0;
    transition: .3s;
    background-color: rgba(255, 255, 255, 1);
    width:400px;
    min-height:370px;
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -350px;
}
#toBuyBox h2{
    margin-top: 15px;
}
#priceAndnumbers{
    margin-top: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid silver;
    width: 80%;
    font-weight: 600;
    margin-bottom: 10px;
}
.meg{
    word-wrap: break-word;
    word-break: normal;
    width: 70%;
    margin-top: 10px;
    font-weight: 400;
}
.meg1{
    margin-bottom: 10px;
    font-weight: 800;
}
#btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
    width:80%;
}
#topUpBtn{
    outline: none;
    border: none;
    background-color: rgb(37, 66, 83,0.8);
    width: 30%;
    line-height: 35px;
    text-align: center;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
#topUpBtn:hover{
    background-color: rgb(37, 66, 83, 1);
    cursor: pointer;
}
#toBuysubmitbtn{/*提交按钮*/
    outline: none;
    border: none;
    background-color: rgb(37, 66, 83,0.8);
    width: 30%;
    line-height: 35px;
    text-align: center;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
#toBuysubmitbtn:hover{/*鼠标点击提交按钮后效果*/
    background-color: rgb(37, 66, 83, 1);
    cursor: pointer;
}
#calcelBtn{
    text-align: center;
    outline: none;
    border: none;
    background-color: #f56c6ce1;
    width: 30%;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
#calcelBtn:hover{/*鼠标点击提交按钮后效果*/
    background-color:#f56c6c;
    cursor: pointer;
}
#closeaa{
    height: 26px;
    cursor: pointer;

}
#closeIcon{
    margin-top: 3px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#warnin{
    font-size: small;
    font-weight: 600;
    color: #d15a39;
}